@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.fw{
    max-width: 1440px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.display-flex{
    display: flex;
}
.primary-color{
    color: rgba(58, 58, 58, 1);
}
.primary-des{
    font-size: 16px;
    font-weight: 400;
    color: rgba(58, 58, 58, 1);
}
.primary-btn{
    width: 196px;
    height: 44px;
    border: 0;
    border-radius: 41px;
    color: #FFFFFF;
    background-color: #E02C6D;
    font-weight: 700;
}
.hide{
    display: none;
}
/* Header Styles */

/* Navbar Styles */
.navbar{
    align-items: center;
    justify-content: space-between;
}
.navbar > div{
    align-items: center;
    gap: 34px;
    color: rgba(58, 58, 58, 1);
    font-size: 16px;
    font-weight: 400;

}
.navbar ul{
    align-items: center;
    gap: 34px;
}
.navbar ul li{
    list-style: none;
}
.navbar a{
    text-decoration: none;
    color: rgba(58, 58, 58, 1);
}
.navbar h4{
    font-size: 24px;
    font-weight: 700;
}

/* Banner Styles */
.banner{
    margin-top: 100px;
    justify-content: space-around;
    align-items: center;
}
.banner-img{
    background-image: url(../assets/images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 10px;
}
.banner-content h1{
    max-width: 582px;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 16px;
}
.banner-content p{
    max-width: 505px;
    margin-bottom: 16px;
}

/* Brand Styles */
.brand{
    margin-top: 70px;
}
.brand .hr1{
    margin-bottom: 40px;
    background: linear-gradient(135.29deg, rgba(192, 204, 218, 0.1),
    rgba(192, 204, 218, 0.6) 50%,
    rgba(192, 204, 218, 0.1) 100%);
}
.brand .hr2{
    margin-top: 40px;
    background: linear-gradient(135.29deg, rgba(192, 204, 218, 0.1),
    rgba(192, 204, 218, 0.6) 50%,
    rgba(192, 204, 218, 0.1) 100%);
}
.brand-img{
    align-items: center;
    justify-content: space-around;
}

/* Popular Collection Styles */
.popular-collection{
    max-width: 1048px;
    margin: 0 auto;
    margin-top: 100px;
}
.popular-collection h1{
    margin-bottom: 50px;
}
.product-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    justify-items: center;
}
.p-card{
    max-width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 1);
}
.p-card h3{
    font-size: 28px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}
.p-card h5{
    margin-top: 0;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px;
}
.popular-collection > p{
    margin-top: 50px;
    text-align: right;
    font-size: 18px;
    font-weight: 600;
    color: rgba(224, 44, 109, 0.87);
}

/* Featured Products */
.f-pro{
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.f-content{
    width: 610px;
}
.f-content h1{
    font-size: 38px;
    font-weight: 700;
    color: rgba(10, 8, 38, 1);
    margin-bottom: 16px;
}
.f-content p{
    font-size: 16px;
    font-weight: 700;
    color: rgba(108, 108, 108, 1);
    margin-top: 0;
    margin-bottom: 16px;
}
.f-content button{
    border: 1px;
}

/* Footer Styles */
.footer{
    margin-top: 100px;
    padding: 50px;
    background-color: rgba(10, 8, 38, 1);
    color: rgba(255, 255, 255, 1);
}
.footer h1{
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 700;
}
.footer p{
    margin-top: 0;
    margin-bottom: 0;
}
.footer i{
    margin-right: 20px;
}






/* Small Device Responsive */
@media screen and (max-width: 576px) {
    .navbar, .navbar > div, .navbar ul{
        flex-direction: column;
        gap: 10px;
    }
    .navbar ul{
        padding: 0;
    }
    .navbar .nav-icon{
        display: flex;
        gap: 20px;
    }
    .navbar h4{
        margin-bottom: 0;
    }
    .navbar, .banner{
        text-align: center;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-content h1{
        font-size: 28px;
        font-weight: 700;
        padding: 0;
    }
    .banner-img{
        padding: 100px;
        background-position: center;
        background-size: contain;
        padding: 20px;
    }
    .banner-img img{
        width: 100%;
    }
    .brand hr{
        display: none;
    }
    .brand-img{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
    .brand-img img{
        width: 100%;
    }
    .product-cards{
        grid-template-columns: repeat(1, 1fr);
    }
    .popular-collection > p{
        margin-top: 20px;
        text-align: center;
    }
    .f-pro{
        flex-direction: column-reverse;
        gap: 50px;
    }
    .f-content, .f-img{
        text-align: center;
        width: 90%;
    }
    .f-img img{
        width: 100%;
    }
}